#container {
  position: relative;
  display: flex;
}

#ol-map {
  position: relative;
  border: solid 1px red;
  width: 50%;
  height: 800px;
}

#cs-map {
  position: relative;
  border: solid 1px blue;
  width: 50%;
  height: 800px;
}